<div id="header" class="header">
	<div id="headercont" class="header-content">
		<div class="header-logo">
			<div class="logowrapper">
				<div class="title">
					<img id="logo" src="assets/weatherlogo.png" class="logoimage" />
					<div id="titlediv" class="titletext">MyWeather</div>
				</div>
			</div>
			<div id="datediv" class="h100fl">
				<div id="datewrapper" class="h100fl">
					<span id="date" class="headspan"><%= Time.now.strftime("%a / %h %d, %Y") %></span>
				</div>
			</div>
		</div>
		<div class="header-search">
			<div class="w100fl h100fl" id="srchcont">
				<span class="fl">Search: </span>
				<form class="h100fl" id="searchform" onsubmit="runSearch();return false;">
					<input type="text" id="searchbox" value="" class="searchbox"
						   onkeyup="hideSearchDiv(this)" onchange="hideSearchDiv(this)" />
					<button class="srchbtn">
						<img src="assets/iconic/magnifying-glass-2x.png" id="srchicn" />
					</button>
				</form>
			</div>
			<div id="locselect" class="locdiv"></div>
		</div>
		<div class="header-units">
			<span class="fl unitspan">Units: </span>
			<input class="css-checkbox" type="radio" name="unitradio" id="unitsus" value="us" onclick="setUnits('us')" checked />
			<label class="css-label" for="unitsus">F</label>
			<input class="css-checkbox" type="radio" name="unitradio" id="unitsca" value="ca" onclick="setUnits('ca')" />
			<label class="css-label" for="unitsca">C</label>
		</div>
	</div>
</div>

<!-- default to NYC if there's no localStorage -->
<input type="hidden" id="defaultzipcode" value="10001" />

<div id="mainwrapper" class="mainwrapper">
	<div class="oldcitywrapper">
		<div id="oldcitydiv" class="w100fl h100fl"></div>
	</div>
	<div class="forecast">
		<div id="today" class="w100fl">
			<div class="w50fl">
				<div class="tfcdiv locdispwrapper">
					<span id="location" class="locationspan tac"></span>
					<div class="locwrapper">
						<div class="loccanvaswrapper">
							<canvas width="50" height="50" id="condimg"></canvas>
							<span id="condition"></span>
							<input type="hidden" id="condition_cnvrt" value="" />
						</div>
					</div>
				</div>
			</div>
			<div class="w50fl tfcbtm">
				<div class="tfcdiv">
					<div class="tfcheader" id="tfcheadertext">
						Today's Forecast
					</div>
					<div class="tfcdivinner" id="condinfo">
						<div id="dailyfrc" onclick="showCondition('conditiontext')"></div>
						<input type="hidden" id="conditiontext" value="" />
					</div>
					<div class="tfcdivinner" id="windinfo">
						<div id="windlabel">Wind:</div>
						<div id="wind"></div>
						<input type="hidden" id="wind_cnvrt" value="" />
					</div>
					<div class="tfcdivinner" id="suntimes">
						<div class="w100fl">
							<div class="innerw50fl">Sunrise:</div>
							<div id="sunrise"></div>
						</div>
						<div class="w100fl">
							<div class="innerw50fl">Sunset:</div>
							<div id="sunset"></div>
						</div>
					</div>
					<div class="tfcheader todayhilo">
						<div class="innerw50fl">
							<span class="wrmclr" id="high"></span>
							<input type="hidden" id="high_cnvrt" value="" />
						</div>
						<div class="innerw50fl">
							<span class="cldclr" id="low"></span>
							<input type="hidden" id="low_cnvrt" value="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="hourwrapper" class="w100fl hourwrapper">
			<%= render 'shared/weather_hours', start_hours: 1, end_hours: 8 %>
		</div>
		<div id="daywrapper" class="w100fl daywrapper">
			<%= render 'shared/weather_days', start_days: 2, end_days: 5 %>
		</div>
	</div>
</div>

<footer class="weather-footer">
	<div class="innerfooter tac">
		<div class="footer-content-left">
			<span>Daily weather for <span id="footerlocation"></span></span>
		</div>
		<div class="footer-content-right">
			<span>
				Powered by <a href="https://darksky.net/poweredby/" class="cldclr" target="_blank">Dark Sky</a>
				<span id="numreqs" style="color:#CCC"></span>
			</span>
		</div>
	</div>
</footer>
