<input type="hidden" id="ipaddress" value="<%= @ipaddr %>" />
<div id="maincontainer" class="container">
	<h2 style="text-align:center;color:#EEE;">OOPS!</h2>
	<div style="width:500px;margin-left:auto;margin-right:auto;color:#EEE;">
		<p>Hey there, friends!</p>
        <p>Sadly I've had to lock this site down, due to a number of individuals who decided they'd avoid the headache of writing their own code and simply spam my server with thousands of requests every day (or in some cases, ever <i>minute</i>).</p>
		<p>It's annoying, I know, but it was costing me a not-insubstantial amount of money to keep it going, despite my efforts to mitigate the bots.</p>
		<p>If you'd like to fork a version of this project then by all means feel free to visit my <a href="https://github.com/musicmunky" target="_blank">GitHub page</a> and fork away!</p>
		<p>If you want to contact me you can find my email address on that page as well.</p>
		<p>Feel free to drop me a line and let me know how I can help you out!</p>
		<p>All the best,</p>
		<p>tim</p>
	</div>
</div>
