body,html {
	height:100%;
}

body.wait, body.wait *{
    cursor: wait !important;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
/* 	margin: 0; */
}

.fl_alert_wrapper {
	background-color:#FFF;
	box-shadow: 0 10px 10px -7px #888;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	border-radius:4px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.fl_alert_modal_title {
	display:block;
	float:left;
	font-weight:bold;
	font-size:18px;
	height:40px;
	line-height:37px;
	margin-left:5px;
	color:#FFF;
}

.fl_alert_message_div {
	cursor:default;
	width:100%;
	height:99%;
	border-radius:4px;
	padding:10px;
	overflow:auto;
	font-family: Helvetica;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.fl_alert_button {
	background-color: #7A7A7A;
	border: medium none;
	color: #EDEDED;
	font-family: Monaco,Consolas,"Lucida Console",monospace;
	font-size: 16px;
	font-weight: bold;
	height: 26px;
	margin-top: 7px;
	text-align: center;
	width: 100px !important;
	border-radius:4px;
}

.fl_alert_button_div {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	text-align:center;
	background-color:#EFEFEF;
	border-radius: 0 0 4px 4px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.fl_alert_overlay {
	display:none;
	position:absolute;
	z-index:99999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: none repeat scroll 0 0 rgba(150, 150, 150, 0.5);
	*background-color:#969696;
}
